.wild-wine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.wild-wine-container__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}
.wild-wine-img {
  width: 40%;
  position: relative;
  bottom: -20vh;
}
.wild-wine-container h2 {
  max-width: 80%;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;
  font-family: ploniRegular;
}
span {
  font-size: 1.8rem;
  line-height: 1.8;
}
.wile-wine-heading {
  width: 80%;
}
.wild-wine-container h2 span {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.icon-box p {
  font-size: 1.5rem;
  text-align: center;
}
.icon-box img {
  width: 4rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .wild-wine-container {
    width: 100%;
    height: 100%;
    padding: 5rem 2rem 3rem 2rem;
  }
  .wile-wine-heading {
    width: 100%;
  }
  .wild-wine-container h2 {
    font-size: 1rem;
    max-width: 100%;
  }
  .wild-wine-container h2 span {
    display: none;
  }
  .icons-box {
    margin-top: 0px;
  }
  .icon-box p {
    font-size: 0.5rem;
  }
  .icon-box img {
    width: 3rem;
    margin: 0 auto;
  }
}
